.card.mb-3
  .card-body
    .h5
      = graph.contributions
      contributions in the last year
    %table.table#contributors-table
      - graph.each do |activity|
        - if activity.last_week?
          %td
        - else
          %td{ title: "#{activity.date} - #{activity.contributions} contributions", class: "#{activity.percentile)}_percentile" }